{% extends "proyecto_final/home.html" %}

{% load static %}

{% block title_page %} {{ title }} {% endblock %}

{% block content %}

{% if products %}
<main class="d-flex flex-column">
    <h4 class="my-2">{{ titleSection }}</h4>

    <section class="d-flex card-deck mt-2">
        {% for producto in allProducts %}
        <div class="card mx-1 w-50">
            <img class="card-img-top" src="..." alt="{{ producto.descripcion }}">
            <div class="card-body">
                <h5 class="card-title">{{ producto.descripcion }}</h5>
                <p class="card-text">${{ producto.precio }}</p>
                <form action="{% url 'agregar_al_carro' producto.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="redirect" id="redirect" value="{{ redirect }}">
                    <button class="btn btn-success" type="submit"><i class="fa-solid fa-cart-shopping"></i> Agregar</button>
                </form>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        {% endfor %}
    </section>
    
</main>
{% else %}
<div class="alert alert-danger" role="alert">
    {{ msg }}
</div>
{% endif %}
<p class="mt-2">
    <strong>
        {{ mensaje }}
    </strong>
</p>
{% endblock %}