{% extends "proyecto_final/home.html" %}

{% load static %}

{% block title_page %} {{ title }} {% endblock %}

{% block content %}

<main class="d-flex flex-column">
    <section class="mx-auto my-2">
        <h4>Inicia Sesión</h4>
        <p class="mt-2">
            Podrás ver tus compras, realizar pedidos y más.
        </p>
    </section>
    <section class="d-flex flex-column w-50 mx-auto">
        <form action="{% url 'login' %}" method="post" class="d-flex flex-column">
            {% csrf_token %}
            {{ form.as_table }}
            <input type="submit" value="Ingresar" class="btn btn-success btn-sm mt-2 w-25 mx-auto">
        </form>
        <a href="{% url 'registrarme' %}" class="mx-auto my-3">¿No tienes cuenta? Regístrate aquí.</a>
        <h3>{{ msg }}</h3>
    </section>
</main>


{% endblock %}