{% extends "proyecto_final/home.html" %}

{% load static %}

{% block title_page %} {{ title }} {% endblock %}

{% block content %}

<main class="d-flex flex-column justify-content-center">
    <h4 class="my-2">Listado de Productos</h4>

    {% if productos %}

    <table class="table my-2">
        <thead>
            <tr>
                <th>ID</th>
                <th>Descripción</th>
                <th>Categoría</th>
                <th>Precio</th>
                <th class="align-items-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for item in productos %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.descripcion }}</td>
                <td>{{ item.categoria.descripcion }}</td>
                <td>${{ item.precio }}</td>
                <td class="d-flex">
                    <a href="{% url 'editar_producto' item.id %}" class="btn btn-success btn-sm mx-1"><i class="fa-regular fa-pen-to-square"></i></a>
                    <a href="#" class="btn btn-danger btn-sm mx-1"><i class="fa-regular fa-trash-can"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}

    <div class="alert alert-danger my-2" role="alert">
        No existen productos creados!
    </div>

    {% endif %}
</main>

{% endblock %}