{% extends "proyecto_final/home.html" %}

{% load static %}

{% block title_page %} {{ title }} {% endblock %}

{% block content %}

<main class="d-flex flex-column justify-content-center">
    <div class="d-flex">
        <h4 class="my-2 mx-1">Listado de Productos</h4> 
        <a href="{% url 'crear_producto' %}" class="btn btn-success btn-sm h-50 mx-1" title="Agregar"><i class="fa-solid fa-circle-plus fa-spin"></i></a>
    </div>

    {% if productos %}

    <table class="table table-borderless my-2">
        <thead>
            <tr>
                <th>ID</th>
                <th>Producto</th>
                <th>Descripción</th>
                <th>Categoría</th>
                <th>Precio</th>
                <th class="align-items-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for item in productos %}
            <tr>
                <td>{{ item.producto.id }}</td>
                <td>
                    <a href="{% url 'comentar_producto' item.producto.id %}">
                        <img src="{{ item.img.url }}" alt="{{ item.producto.descripcion }}" class="mx-auto" style="width: 50px;">
                    </a>
                </td>
                <td>{{ item.producto.descripcion }}</td>
                <td>{{ item.producto.categoria.descripcion }}</td>
                <td>${{ item.producto.precio }}</td>
                <td class="d-flex">
                    <a href="{% url 'editar_producto' item.producto.id %}" class="btn btn-success btn-sm mx-1"><i class="fa-regular fa-pen-to-square"></i></a>
                    <a href="{% url 'eliminar_producto' item.producto.id %}" class="btn btn-danger btn-sm mx-1"><i class="fa-regular fa-trash-can"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <section class="my-2">
        <p>{{ mensaje }}</p>
    </section>

    {% else %}

    <div class="alert alert-danger my-2" role="alert">
        No existen productos creados!
    </div>

    {% endif %}
</main>

{% endblock %}